<app-appbar></app-appbar>
<div class="login-box" style="text-align: center;">
  <button mat-raised-button class="create-button" (click)="onClickCreateQuestionnaire()">Create Questionnaire</button>
</div>

<mat-selection-list [multiple]="false" class="list">
    <mat-list-option class="item" *ngFor="let questionnaire of questionnaires" [value]="questionnaire">
      <div (click)="onSelectedQuestionnaire(questionnaire.id)">{{questionnaire.title}}</div>
    </mat-list-option>
</mat-selection-list>
